@media screen {
    @import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);
}

html {
    font-size: 16pt;
}

body {
    padding-bottom: 4rem;
}

nav.tocopen span {
    display: none;
}

nav.tocopen:before {
  content: "☰";
}

p.affiliation {
    margin-top: 0.1em;
}

/* Hacks for the home page */

article.homepage header {
    text-align: left;
}

article.homepage header h1 {
    margin-top: 0;
    font-size: 2.4rem;
}
